:root 
{
    --color-1: hsl(157, 74%, 62%);
    --color-2: hsl(225, 26%, 23%);
    --color-3: hsl(224, 35%, 11%);
    --color-4: hsl(0, 0%, 100%);
    --color-5: hsl(225, 21%, 45%);
    --color-6: hsl(225, 40%, 83%);
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: "Chivo", sans-serif;;
    
    background-color: hsla(224, 35%, 11%, 90%);
    background-image: url(../assets/mobile/image-host.jpg);
    background-blend-mode:multiply;
    text-align: center;
    color: var(--color-4);
    padding: 0 6.4%;
}

* {
    box-sizing: border-box;
}

*:first-child {
    margin-top: 0;
}
*:last-child {
    margin-bottom: 0;
}

.heading-1 
{
    font-size: 1.73rem;
    line-height: 1.46em;
    font-weight: 300;

    text-transform: uppercase;

    order: 0;
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
}

.heading-1 span.green {
    color: var(--color-1);
}

.body-1 
{
    font-size: 1rem;
    line-height: 1.66em;
    font-weight: 300;

    color: var(--color-6);

    order: 1;
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
}


.input-1 
{
    font-size: .93rem;
    font-family: inherit;
    font-weight: bold;
    padding: .64em 2.28em;
    color: var(--color-4);
    background-color: var(--color-2);
    border: none;
    width: 100%;
    border-radius: 2em;
}
.input-1::placeholder {
    color: var(--color-4);
    opacity: 50%;
}

.input-1_error 
{
    opacity: 0%;
    pointer-events: none;
    padding-left: 2.28em;
    font-size: .85rem;
    font-weight: bold;
    color: #FB3E3E;
    position: absolute;
    top:1em;
    transform:translateY(100%);
    transition: opacity 300ms;
}

.input-1-wrapper.invalid .input-1_error {
    opacity: 100%;
}

.input-1-wrapper.invalid .input-1 {
    margin-bottom: 1em;
}



.btn 
{
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-3);
    background-color: var(--color-1);
    font-family: inherit;
    border: none;
    text-align: center;
    padding: .64em 1.92em;
    width: 100%;
    border-radius: 2em;
    cursor: pointer;
    transition: background-color 300ms;
}


.btn:hover 
{
    background-color: hsl(157, 74%, 92%);
}


.img-host-desktop{
    display: none;
}



.header {
    padding: 4.42em 0 4.07em;
}


.main_content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.companies 
{
    order: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.42em;
    max-width: 536px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    order: 3;
    width: 100%;
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
}

.company_logo {
    width: 20%;
}

.input-1-wrapper {

    display: flex;
    flex-direction: column;
    gap: 1.14em;

    position: relative;
}



@media  (min-width:768px) {
    

    html {
        font-size: 18px;
    }
    body {
        background: url(../assets/tablet/image-host.jpg);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: var(--color-3);
        background-blend-mode: normal;
        text-align: left;
        padding: 0 5%;
    }


    .heading-1 {
        font-size: 2.66rem;
        line-height: 1.16em;
        margin-left: 0;
    }
    .body-1 
    {
        line-height: 1.55em;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2.27em;
    }

    .input-1-wrapper.invalid .input-1 {
        margin-bottom: 0em;
    }
   
    .header {
        padding: 2.77em 0 8.44em;
    }

    .main_content {
        padding: 5.16em 0 0;
        background-color:var(--color-3);
        margin-left: 0;
        margin-right: auto;
    }

    .companies {
        order:3;
        margin-left: 0;
    }

    .form {
        order: 2;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 3.55em;
    }
    .input-1-wrapper 
    {
        display: inherit;
    }

    .input-1 {
        padding: 1em 2.28em;
        font-size: .77rem;
    }

    .btn {
        font-size: .77rem;
    }

    .btn-request {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: fit-content;
    }
}



@media (min-width: 1440px)
{
    body 
    {
        background: url(../assets/desktop/image-host.jpg);
        background-repeat: no-repeat;
        background-position: top 7.2em right;
        background-color: var(--color-3);
        background-blend-mode: normal;
        padding: 0 11.4%;
    }

    .heading-1 {
        font-size: 2.8rem;
        line-height: 1.19em;
    }

    .header {
        padding: 5.66em 0 5.7em
    }
}
